Store.Web/Service References/ProductService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Store.Service.OrderService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Store.Service.OrderService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58486/ProductService/ProductService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Store.Service.CustomerService.Data" />
  <xs:import schemaLocation="http://localhost:58486/ProductService/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Store.Service.ProductService.Data" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Store.Service.CustomerService.Data" minOccurs="0" name="Customer" nillable="true" type="q1:Customer" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Store.Service.ProductService.Data" minOccurs="0" name="Products" nillable="true" type="q2:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>